
* {
    box-sizing: border-box;
    background-color: #EEEEEE;
  }
  
body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
header {
    /* padding: 5px; */
    text-align: center;
    color: #398AB9;
    height: 200px;
  }

nav a { 
    color: #EEEEEE;
    font-size: 18px;
    display: inline;
    text-align: right;
    margin-left: 50px;
    font-weight:bold;
   

  }

a {
    text-align: right;
}



nav a:hover, footer a:hover {
     color:#1C658C;
     background-color: #EEEEEE;
 }

h1 {
    color: #1C658C;
}

h2 {
    display: block;
}
  
section {
    color: #398AB9;
    padding: 40px;

}

.flex-container {
    display: inline-flex;
    height: 200px;
    background: url(/assets/images/geom.png);
    border: 10px solid black;


}


#subtitle {
    margin:auto;
    display: flex;
    justify-content: flex-end;
    

}

.flex-container p {
    display: inline-flex;
    border: 10px solid #1C658C;
    padding: 10px;
    


   
   
}



nav {
    display: inline;
    text-align: right;
    justify-content: end;
}

header img {
    padding: 5px;
    width: auto;
    height: 150px;
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
    border: 10px solid black;
    display: inline;

}
.gallery {

    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(3, 15vw);
    grid-gap: 15px;
    
}

.gallery-image {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    object-fit: cover
}

.gallery-image:hover {
    border: 10px solid #1C658C;
    width: 100px;
    border: 10px solid #1C658C;
    padding: 10px;
    margin-left: 1500px;
    margin-top: 60px;
    display: inline-block;
    align-items: baseline;

}

.gallery-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#name {
    width: 300px;
    border: 8px solid black;
    padding: 10px;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 900px;
    display: inline;
    background-color: #EEEEEE;
    
  }
footer {
    padding: 40px;
    text-align: left;
    color: #EEEEEE;
  }



footer p {
      display: inline;
      margin: 20px;
      
  }



footer, footer h2, footer p, footer a, nav, nav a, header {
    background-color: #1C658C;
}
