/* General page layout */
* {
    box-sizing: border-box;
    background-color: #EEEEEE;
  }
  
body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }


footer, footer h2, footer p, footer a, nav, nav a, header, .container {
    background-color: #1C658C;
}


section {
    color: #398AB9;
    padding: 40px;

}

h1 {
    color: #1C658C;
}

h2 {
    display: block;
}
  


  /* Header section including Navbar and name */
  
header {
    /* padding: 5px; */
    text-align: center;
    color: #398AB9;
    height: 200px;
  }

#name {
    width: 300px;
    border: 8px solid black;
    padding: 10px;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 900px;
    display: inline;
    background-color: #EEEEEE;
    
  }

nav a { 
    color: #EEEEEE;
    font-size: 18px;
    display: inline;
    text-align: right;
    margin-left: 50px;
    font-weight:bold;
   
  }
  nav {
    display: inline;
    text-align: right;
    justify-content: end;
}

a {
    text-align: right;
}


/* Image within header and subtitle within that image */

.flex-container {
    display: inline-flex;
    height: 200px;
    background: url(/assets/images/geom.png);
    border: 10px solid black;

}

#subtitle {
    margin:auto;
    display: flex;
    justify-content: flex-end;
    
}

.flex-container p {
    display: inline-flex;
    border: 10px solid #1C658C;
    padding: 10px;
   
}
/* Hover interactivity for links in footer and header */

nav a:hover, footer a:hover {
    color:#1C658C;
    background-color: #EEEEEE;
 }



/* Author picture section */

.container {
    position: static;
    display: inline;
}

header img {
    padding: 5px;
    width: auto;
    height: 150px;
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
    border: 10px solid black;
    
}


/* Work section */
.gallery-image {
    width: 500px;
    height: auto;
    padding: 10px;
    margin: 10px;
   
}

.gallery-image:hover {
    border: 10px solid #1C658C;
}

.gallery-item1 {
    width: 700px;
    height: auto;
    padding: 10px;
    margin: 10px;
    
}



/* Footer section / contact information */



footer {
    padding: 40px;
    text-align: left;
    color: #EEEEEE;
  }



footer p {
      display: inline;
      margin: 20px;
      
  }


